body {
    background-color: #1F2937;
}
.left {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
}
.right {
    color: grey;
    font-size: 18px;
}
.website-container {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    gap: 20px;
}
.awesome {
    color: white;
    margin-top: 40px;
    font-weight: bolder;
    font-size: 30px;
}
.subtext {
    color: grey;
    font-size: 10px;
    align-self: baseline;
}
.button1 {
    background-color: #3882f6;
    padding: 6px 10px;
    width: fit-content;
    border-radius: 12px;
    color: white;
}
.image {
    margin: 40px;
}