body {
    background-color: #1F2937;
}
.left {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
}
.right {
    color: grey;
    font-size: 18px;
}
.website-container {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    gap: 20px;
}
.awesome {
    color: white;
    margin: 40px;
}
.subtext {
    color: grey;
}
.image {
    margin: 40px;
}