body {
    background-color: #1F2937;
}
nav {
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    color: grey;
}
.header {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 30px;
    color: white;
}
.awesome {
	margin:40px;
	}
.awesome h1 {
	color: white;
	font-size: 40px;
	font-weight: bold;
	}
.awesome p{
	color: grey;
	font-size: 14px;
	}
.button1 {
    background-color: #3882f6;
    padding: 6px 10px;
    width: fit-content;
    border-radius: 12px;
    color: white;
    display: inline-block;
}
.image {
    margin-top: 30px;
    border: 40px grey;
    background-color: grey;
    width: 300px;
    padding: 80px;
    position: relative;
    left: 800px;
    bottom: 250px;
}